* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #674baf;
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  text-align: center;
  padding: 2em 2.5em 0;
  width: 100%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 26px;
}

p {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  margin-bottom: 26px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

header img {
  height: 35px;
}

.hero-stage {
  padding: 55px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-stage .hero-image {
  width: 100%;
  margin-bottom: 55px;
}

.hero-stage .hero-image img {
  width: 100%;
}

.hero-stage .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-stage .hero-content button {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  font-family: 'Poppins', sans-serif;
  background-color: white;
  font-size: 14px;
  color: #674baf;
  border: none;
  border-radius: 100px;
  padding: .9em 6em;
}

.icon-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  width: 20px;
  text-decoration: none;
  list-style: none;
  margin: 0 10px 55px 0;
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
}

@media (min-width: 1040px) {
  header img {
    height: 50px;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
  body {
    text-align: left;
    height: 100vh;
    background-image: url(./images/bg-desktop.svg);
    padding: 3em 5em 0 5em;
  }
  .hero-stage {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 55px 0 0;
  }
  .hero-stage .hero-content {
    width: 40%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero-stage .hero-content button {
    font-size: 14px;
    padding: 1em 5em;
  }
  .hero-stage .hero-image {
    width: 55%;
  }
  .icon-list ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .icon-list li {
    margin: 0 5px 0;
  }
}
/*# sourceMappingURL=style.css.map */